<div>
  <div class="main jumbotron">
    <h1>Notícias</h1>
    <p>World Wide News</p>
  
    <!-- A diretiva ng-repeat implementa um looping de repetição
    através do qual buscamos todos os elementos do
    array $scope.news e exibimo-os na tabela HTML
    abaixo, ordenando-os pelo sua data de publicação
    -->
    <div ng-repeat="detail in new">
      <br>
      <b><span class="negrito">{{detail.tittle}}</b></span>
      <p>{{detail.description}}</p>
      <table border="1">
        <tr>
          <td width=500px>
            <p align = "justify">{{detail.body}}</p>
          </td>
        </tr>
      </table>
      <p><font size = "2"></size>{{detail.published}}</font></p>
      
      <a href="#/index">Voltar</a>
  </div>  